body, html {
  width: 100%;
  height: 100%;
  margin: 0;
}

.wrap {
  width: 70%;
}

.block {
  height: 50px;
}

.one {
  background: red;
}

.two {
  background: blue;
}

.three {
  background: black;
}

.sidebar {
  width: 30%;
  height: 300px;
  top: 0;
  right: 0;
  position: fixed;
  background: -moz-element(#bg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
}