.list {
  counter-reset: myCounter;
}


.list__item:before {
  counter-increment: myCounter;
  content: counter(myCounter);
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid red;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
}

.inner-list {
  counter-reset: innerList;
}

.inner-list__item:before {
  counter-increment: innerList;
  content: counter(myCounter) "." counter(innerList)
}